# Compiled source #
###################
*.class
*.dll
*.exe
*.o
*.so

*.orig
*.bak
*.swo
*.swp
*.txt
*.h
src/cmd/tests/*

#Files trash the Dolphin (KDE)
.directory

!/.directory
bin
build
.directory

# IDE
.idea
.vscode
.history

# IDE
.idea