# Compiled source #
###################
*.class
*.dll
*.exe
*.o
*.so

bin/*
build/*

*.orig
*.bak
*.swo
*.swp
*.txt
*.h
src/cmd/tests/*

#Files trash the Dolphin (KDE)
.directory

# IDE
.idea
.vscode
.history